<div id='main' class=<%= classes %>>

  <div class='header-instructions'>%{header_instructions}</div>

  <%- if SiteSetting.private_email? %>
    <p><%= t('system_messages.contents_hidden') %></p>
  <% else %>
    <%= render partial: 'email/post', locals: { post: post, use_excerpt: false } %>

    <% if in_reply_to_post.present? || context_posts.present? %>
      <div class='footer'>%{respond_instructions}</div>
      <hr>
    <% end %>

    <% if in_reply_to_post.present? %>
      <h4 class='previous-discussion'><%= t "user_notifications.in_reply_to" %></h4>
      <%= render partial: 'email/post', locals: { post: in_reply_to_post, use_excerpt: true} %>
    <% end %>

    <% if context_posts.present? %>
      <h4 class='previous-discussion'><%= t "user_notifications.previous_discussion" %></h4>
      <% context_posts.each do |p| %>
        <%= render partial: 'email/post', locals: { post: p, use_excerpt: false } %>
      <% end %>
    <% end %>

    <% if reached_limit %>
      <hr>
      <div class='footer'><%= t "user_notifications.reached_limit", count: SiteSetting.max_emails_per_day_per_user %></div>
    <% end %>
  <% end %>

  TEST

  <div class='footer undecorated-link-footer <%= first_footer_classes %>'>%{respond_instructions}</div>
  <div class='footer'>%{unsubscribe_instructions}</div>

</div>

<div itemscope itemtype="http://schema.org/EmailMessage" style="display:none">
  <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
    <link itemprop="url" href="<%= Discourse.base_url %><%= post.url(without_slug: SiteSetting.private_email?) %>" />
    <meta itemprop="name" content="<%= t 'read_full_topic' %>"/>
  </div>
</div>
